body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
* {
  text-align: center !important;
  font-size: 10px !important;
}
thead th {
  padding: 0 2px !important;
}
tbody td {
  font-size: 18px !important;
}
tr {
  height: auto !important;
}
th:first-child {
  text-align: left !important;
  width: 1px !important;
}
th, td {
  padding: 0 !important;
}
button {
  white-space: nowrap !important;
}
